--color-text-primary: #bfd7ce;
--color-text-secondary: #8ba296;
--color-text-tertiary: #768b81;
--color-text-placeholder: #5b6f66;
--color-text-link: #8fe6c0;
--color-text-accent: #8fe6c0;
--color-text-error: #e8a08a;
--color-editor-body: #bfd7ce;
--color-editor-heading: #eafff4;
--color-bg-primary: #21302c;
--color-bg-intermediate: #2e3d3a;
--color-bg-secondary: #303f3b;
--color-bg-tertiary: #404f4b;
--color-bg-hover: #2e3d3a;
--color-bg-accent: #8fe6c0;
--color-bg-doc-link: #39584d;
--color-bg-mark: #605a34;
--color-bg-error: #4d4941;
--color-bg-kbd: #303f3b;
--color-bg-tooltip: #101e1b;
--color-app-sidebar: #101e1b;
--color-border-primary: #404f4b;
--color-border-secondary: #2e3d3a;
--color-border-accent: #8fe6c0;
--color-border-error: #e8a08a;
--color-icon: #8ba296;
--color-outline-primary: #8fe6c0;
