--color-text-primary: #303e47;
--color-text-secondary: #5f6a72;
--color-text-tertiary: #7b858d;
--color-text-placeholder: #9ea7ae;
--color-text-link: #0064a0;
--color-text-accent: #00788b;
--color-text-error: #a93a2f;
--color-editor-body: #303e47;
--color-editor-heading: #1a242a;
--color-bg-primary: #ebf2f7;
--color-bg-intermediate: #e4eaf0;
--color-bg-secondary: #dae2e8;
--color-bg-tertiary: #ced7dd;
--color-bg-hover: #e4eaf0;
--color-bg-accent: #00788b;
--color-bg-doc-link: #b7d3e4;
--color-bg-mark: #cecfb8;
--color-bg-error: #dccacb;
--color-bg-kbd: #dae2e8;
--color-bg-tooltip: #dae2e8;
--color-app-sidebar: #dae2e8;
--color-border-primary: #ced7dd;
--color-border-secondary: #e4eaf0;
--color-border-accent: #00788b;
--color-border-error: #a93a2f;
--color-icon: #5f6a72;
--color-outline-primary: #00788b;
