--color-text-primary: #2b3642;
--color-text-secondary: #65686f;
--color-text-tertiary: #828387;
--color-text-placeholder: #a6a5a5;
--color-text-link: #395a8e;
--color-text-accent: #c95750;
--color-text-error: #a33a29;
--color-editor-body: #2b3642;
--color-editor-heading: #1b232c;
--color-bg-primary: #f5f0e8;
--color-bg-intermediate: #f0eae0;
--color-bg-secondary: #ebe4d9;
--color-bg-tertiary: #e3dcd0;
--color-bg-hover: #f0eae0;
--color-bg-accent: #c95750;
--color-bg-doc-link: #cccfd4;
--color-bg-mark: #ddcfaf;
--color-bg-error: #e3c8be;
--color-bg-kbd: #ebe4d9;
--color-bg-tooltip: #ebe4d9;
--color-app-sidebar: #ebe4d9;
--color-border-primary: #e3dcd0;
--color-border-secondary: #f0eae0;
--color-border-accent: #c95750;
--color-border-error: #a33a29;
--color-icon: #65686f;
--color-outline-primary: #c95750;
