--color-text-primary: #c1b8b0;
--color-text-secondary: #9ba5ae;
--color-text-tertiary: #838e96;
--color-text-placeholder: #657078;
--color-text-link: #7bbac7;
--color-text-accent: #7bbac7;
--color-text-error: #e67665;
--color-editor-body: #c1b8b0;
--color-editor-heading: #e3ddd7;
--color-bg-primary: #243037;
--color-bg-intermediate: #2e3a41;
--color-bg-secondary: #303d46;
--color-bg-tertiary: #3d4b54;
--color-bg-hover: #2e3a41;
--color-bg-accent: #7bbac7;
--color-bg-doc-link: #374e57;
--color-bg-mark: #51564e;
--color-bg-error: #4f3f41;
--color-bg-kbd: #303d46;
--color-bg-tooltip: #151f25;
--color-app-sidebar: #151f25;
--color-border-primary: #3d4b54;
--color-border-secondary: #2e3a41;
--color-border-accent: #7bbac7;
--color-border-error: #e67665;
--color-icon: #9ba5ae;
--color-outline-primary: #7bbac7;
